{% extends "backend/index.html" %}
{% block content %}

<div class="row">
    
    {% if page == 'create_language' %}
    <div class="col col-md-5">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Languages Form</h5>
  
            <!-- Vertical Form -->
            <form class="row g-3" method="POST" >
              {% csrf_token %}
              {{ form }}
  
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Create</button>
              <button class="btn btn-danger">Cancle</button>

            </div>
            </form><!-- Vertical Form -->
  
          </div>
     
        </div>
    </div>
  
    {% else %}
    <div class="col col-md-5">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Edit Language</h5>
  
            <!-- Vertical Form -->
            <form class="row g-3" method="POST">
              {% csrf_token %}
            {{ form }}
  
            
              
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Edit</button>
              <button onclick="history.back()" class="btn btn-danger">Cancle</button>

            </div>
            </form><!-- Vertical Form -->
  
          </div>
     
        </div>
    </div>
    {% endif %}
      
  
     
      
      
    
      <!-- table   -->
      <div class="col col-md-7">
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                     
                      
  
              <tbody>
                  {% for language in languages %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ language.name }}</td>
                      
                      <td>
                          <a href="{% url 'edit_language' language.id %}" class="btn btn-primary"> Edit</a>
                      </td>
                      
                  </tr>
                    
                  {% endfor %}
              </tbody>
  
          </table>
      </div>
</div>

  {% endblock content %}