{% extends "pages/main.html" %}
{% load static %}
{% block content %}
<!-- About section -->
<section class="about">
    <div class="main">
        {% for about in abouts %}
        <img src="{{ about.image.url }}" alt="">
        <div class="about-text">
            <h2>About Me</h2>
            <h5>{{ about.title }}</h5>
            <p>{{ about.body}}</p>
        {% endfor %}
            
            <button type="button">Let's Talk</button>
        </div>
    </div>
</section>
<!-- end about section -->
{% endblock content %}
