{% extends "pages/main.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Contact me -->
<div class="contact">
    <p>Let Me Get You A Beautiful Website.</p>
    <!-- <a href="#" class="button-two">Hire Me</a> -->
</div>

<div class="contact-main container">
    <div class="row" >
        <div class="col col-lg-6 bg-dark">
            <h1>Write us</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="name text-white mb-4">
                    <label for="" class="form-label">Name</label>
                    <input type="text" name="name" id="" class="form-control" placeholder="Enter your name">
                </div>

                <div class="email text-white mb-4">
                    <label for="" class="form-label">Email</label>
                    <input type="email" name="email" id="" class="form-control" placeholder="Enter your email">
                </div>

                <div class="subject text-white mb-4">
                    <label for="" class="form-label">Subject</label>
                    <input type="text" name="subject" id="" class="form-control" placeholder="Enter your subject">
                </div>

                <div class="message text-white mb-4">
                    <label for="" class="form-label">Message</label>
                    <input type="text" name="message" id="" class="form-control" placeholder="Enter your message">
                </div>
            </form>

        </div>
        <div class="col col-lg-6" style="background-color: rgb(62, 62, 62);">
            <h1 class="text-white">Contact Information</h1>
            <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            {% for contactinfo in contactinfos %}
            {{ contactinfo.address }}
            {% endfor %}
    </div>
</div>



    
<!-- end contact -->
{% endblock content %}
