  {% load static %}
    <!-- Hero section -->
        <div class="hero" style="background-image: url({% static 'image/background.jpg' %});">

            <!-- start content -->
            <div class="content">
                <h4>Hello, my name is</h4>
                <h1>Than  <span>Than </span>Soe</h1>
                <h3>I am a web Developer</h3>

                <div class="newslatter">
                    <form>
                        <input type="email" name="email" id="mail" placeholder="Enter your email">
                        <input type="submit" value="submit" value="Lets Start">
                    </form>
                </div>
            </div>
            <!-- end content -->

        </div>
    <!-- end hero section -->