{% extends "pages/main.html" %} 
{% load static %}

{% block content %}

<!-- Hero section -->

<div class="hero" style="background-image: url('{{ heros.background.url }}')">
    <!-- start content -->
    <div class="content">
        <h4>Hello, my name is</h4>
        <h1>{{ heros.name }}</h1> <br>
        <h3>{{ heros.carrier }}</h3>

        

        <div class="newslatter">
            <form>
                <input type="email" name="email" id="mail" placeholder="Enter your email">
                <input type="submit" value="submit" value="Lets Start">
            </form>
        </div>
    </div>
    <!-- end content -->

</div>
<!-- end hero section -->


<!-- About section -->
<section class="about">
    <div class="main">
        
        <img src="{{ abouts.image.url }}" alt="">
        <div class="about-text">
            <h2>About Me</h2>
            <h5>{{ abouts.title }}</h5>
            <p>{{ abouts.body}} </p> 

        
            
            <a href="{% url 'contactpage' %}"><button type="button">Let's Talk</button></a>
        </div>
    </div>
</section>
<!-- end about section -->


<!-- skill -->
<div class="skill">
    <div class="title">
        <h2>My Skills</h2>
    </div>

    <div class="box">
        {% for skill in skills %}
        <div class="card">
            <h3>{{ skill.title }}</h3>
            <div class="pra">
                <p>{{ skill.body }}</p>
            </div>
        </div>
        {% endfor %}

       
    </div>
    
</div>
<!-- end skill -->

<!-- Contact me -->
<div class="contact">
    <p>Let Me Get You A Beautiful Website.</p>
    <a href="{% url 'contactpage' %}" class="button-two">Hire Me</a>
</div>
<!-- end contact -->

{% endblock content %} 
    