<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=\, initial-scale=1.0">
        <title>Than Than Soe</title>
        <link rel="stylesheet" href="{% static 'style/port.css' %}">
       
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>

    <body style="background-color: rgb(33, 32, 32);">

    <!-- start navbar -->
        <nav style="background-color: black;">

            <h2 class="logo">Than<span>Soe</span></h2>
            <ul>
               {% url 'heropage' as url %}
                <li class='{% if request.path == url  %}active{% endif %}'>
                    <a href="{% url 'heropage' %}">Home</a>
                </li>

                {% url 'aboutpage' as url %}
                <li class='{% if request.path == url %}active{% endif %}'>
                    <a href="{% url 'aboutpage' %}">About</a>
                </li>

                {% url 'servicepage' as url %}
                <li class='{% if request.path == url %}active{% endif %}'>
                    <a href="{% url 'servicepage' %}">Services</a>
                </li>
                {% url 'gallarypage' as url %}
                <li class='{% if request.path == url %}active{% endif %}'>
                    <a href="{% url 'gallarypage' %}">Gallary</a>
                </li>

                {% url 'skillpage' as url %}
                <li class='{% if request.path == url %}active{% endif %}'>
                    <a href="{% url 'skillpage' %}">Skill</a>
                </li>

                {% url 'contactpage' as url %}
                <li class='{% if request.path == url %}active{% endif %}'>
                    <a href="{% url 'contactpage' %}">Contact</a>
                </li>
            </ul>
            <a href="#" class="btn">Subscribe</a>
        </nav>
    <!-- end navbar -->

    {% block content %}
    
    {% endblock content %}
        
       


      





        <!-- start footer html -->
        <footer>
            <p>Than Than Soe</p>
            <p>For more HTML, CSS, and coding tutorial - please click on the link below to subscribe to my channel:</p>
            <div class="social" style="display: flex;">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-dribbble"></i></a>
            </div>

            <p class="end">CopyRight By Than Than Soe</p>
        </footer>
        <!-- end footer html -->
    </body>

</html>