 {% extends "pages/main.html" %}
 {% block content %}
 <!-- skill -->
        <div class="skill">
            <div class="title">
                <h2>My Skills</h2>
            </div>

            <div class="box">
                {% for skill in skills %}
                <div class="card">
                    <h3>{{ skill.title }}</h3>
                    <div class="pra">
                        <p>{{ skill.body }}</p>
                    </div>

                </div>
                {% endfor %}

               
            </div>
            
        </div>
<!-- end skill -->
{% endblock content %}
